@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-size: 2px;
  font-display: swap;
}
address {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

p {
  margin: 0;
}

:root {
  --bs-link-color: black;
  --bs-body-bg: #E5E5E5;
}

.navbar {
  --bs-navbar-brand-margin-end: 45px;
  --bs-navbar-color: black;
}

.accordion {
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: white;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

a {
  text-decoration: none;
}
a:hover {
  color: #99C63C;
  transition: 0.5s;
}

.pos-rel {
  position: relative;
}

.accent-active {
  color: #99C63C;
  transition: 0.5s;
}
.accent-active:hover {
  color: black;
}

.color-f {
  color: white;
}

.dropdown-item:hover {
  border-radius: 10px;
  box-shadow: 5px 5px 12px -2px #99C63C;
}
.dropdown-item:active {
  background-color: #99C63C;
  color: #fff;
}

.logo-shadow:hover {
  transform: scale(1.02);
  transition: 0.5s;
  box-shadow: 0 8px 16px rgba(166, 206, 82, 0.42);
}

.modal-register .modal-header {
  border-bottom: none;
}
.modal-register .modal-content {
  background-color: transparent;
  border: none;
}
.modal-register .btn-close {
  background: red url("/assets/img/x-lg.svg") center/2em auto no-repeat;
}

.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  box-shadow: 0 0 12px rgba(72, 79, 78, 0.17);
}
.header__top {
  background-color: #E5E5E5;
  padding: 5px 0;
  font-size: 15px;
}
.header__top .item-phone {
  font-size: 13px;
}
.header__contact-ic, .header__lang-ic {
  padding-right: 10px;
}
.header__lang-switcher:hover {
  color: #99C63C;
  transition: 0.5s;
}
.header__lang-switcher .dropdown-item:hover {
  border-radius: 10px;
  box-shadow: 5px 5px 12px -2px #99C63C;
}
.header__lang-switcher .dropdown-item:active {
  background-color: #99C63C;
  color: #fff;
}
.header__navigation {
  background-color: #fff;
}
.header__search-wrapper {
  margin-right: 65px;
}
.header__search {
  color: black;
  font-size: 16px;
  padding-right: 65px;
  padding-left: 0;
}
.header__search:hover {
  color: #99C63C;
  transition: 0.5s;
}
.header__ic-hover:hover {
  border-radius: 3px;
  background: #E5E5E5;
}
.header__navigation {
  background-color: #fff;
}
.header__navigation .nav-item:not(:first-child):not(:last-child) {
  margin-right: 30px;
}
.header__auth {
  gap: 16px;
}
.header__auth i.bi-cart2 {
  font-size: 16px;
}
.header__auth i.bi-person {
  font-size: calc(16px * 1.09);
}
.header .dropdown-menu {
  border: none;
}
.header .hover:hover {
  color: #99C63C;
  transition: 0.5s;
}
.header .hover:hover:active {
  background-color: #99C63C;
  color: #fff;
}
.header .dropdown-item:hover {
  border-radius: 10px;
  box-shadow: 5px 5px 12px -2px #99C63C;
}
.header .dropdown-item:active {
  background-color: #99C63C;
  color: #fff;
}

.modal-body {
  padding: 30px 10px;
}

.modal .form {
  box-shadow: 6px 6px 12px #ffffff, -6px -6px 12px #c5c5c5;
  position: relative;
  width: 90%;
  height: 40px;
  display: flex;
  padding-inline: 0.8em;
  border-radius: 30px;
  transition: border-radius 0.5s ease;
  background: #E5E5E5;
}
.modal .form:before {
  content: "";
  position: absolute;
  background: #99C63C;
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -10px;
  border-radius: 1px;
  transition: transform 0.3s ease;
}
.modal .form:focus-within {
  border-radius: 30px;
}
.modal .form:focus-within:before {
  transform: scale(1);
}
.modal .form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
.modal .form .input-body-search {
  color: #99C63C;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
.modal .form .input-body-search:focus {
  outline: none;
}
.modal .form .input-body-search:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
.modal .form .reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
.modal .form i {
  width: 17px;
  margin-top: 3px;
}

.modal-register__bg .field-button {
  gap: 10px;
  font-size: 14px;
  margin-top: 20px;
}
.modal-register__bg .field-button .button-login,
.modal-register__bg .field-button .button-reset {
  padding: 7px 12px;
}
.modal-register__bg .field-button .button-login:hover,
.modal-register__bg .field-button .button-reset:hover {
  color: #fff;
  background-color: #7878bd;
  border-radius: 10px;
}
.modal-register__bg .card {
  width: 75%;
  height: 254px;
  background: #F4F6FB;
  border: 1px solid white;
  box-shadow: 10px 10px 64px 0 rgba(180, 180, 207, 0.75);
  -webkit-box-shadow: 10px 10px 64px 0 rgba(186, 186, 202, 0.75);
  -moz-box-shadow: 10px 10px 64px 0 rgba(208, 208, 231, 0.75);
}
.modal-register__bg .form {
  padding: 10px 25px;
}
.modal-register__bg .card_header {
  gap: 10px;
}
.modal-register__bg .card svg {
  color: #7878bd;
  margin-bottom: 20px;
  margin-right: 5px;
}
.modal-register__bg .form_heading {
  padding-bottom: 20px;
  font-size: 21px;
  color: #7878bd;
}
.modal-register__bg .input {
  border-radius: 5px;
  background-color: #e9e9f7;
  padding: 5px;
  width: 100%;
  color: #7a7ab3;
  border: 1px solid #dadaf7;
}
.modal-register__bg .input:focus-visible {
  outline: 1px solid #aeaed6;
}
.modal-register__bg .input::placeholder {
  color: #bcbcdf;
}
.modal-register__bg .label {
  color: #B2BAC8;
  font-size: 14px;
  display: block;
}

@media (max-width: 576px) {
  .img-fluid {
    width: 70%;
  }
  .navbar-brand {
    margin-right: -70px;
  }
  .header__contact-ic,
.header__lang-ic {
    padding-right: 0;
  }
}
@media (max-width: 320px) {
  .img-fluid {
    width: 60%;
  }
}
.way-product {
  padding: 11px 0 37px;
}
.way-product__ol-gap {
  gap: 42px;
  margin-bottom: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  position: absolute;
  padding-right: 10px;
  background-color: #BDBDBE;
  content: "";
  width: 26px;
  height: 1px;
  display: block;
  top: 12px;
  left: -30px;
}

@media (max-width: 576px) {
  .way-product {
    padding: 10px 0 20px;
  }
  .way-product__ol-gap {
    column-gap: 25px;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    width: 20px;
    left: -18px;
  }
}
@media (max-width: 320px) {
  .way-product__ol-gap {
    gap: 19px;
  }
}
.display-form {
  margin-top: 10px;
  margin-bottom: 22px;
}
.display-form__left {
  width: 25%;
}
.display-form__right {
  width: 75%;
}
.display-form__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: #17181A;
  margin-bottom: 37px;
}
.display-form__forms {
  flex-direction: column;
  gap: 10px;
}
.display-form__wrapper-media {
  flex-direction: row;
}
.display-form__dropdown {
  margin-right: 15px;
}
.display-form__dropdown .dropdown-toggle::after {
  margin-left: 40%;
}
.display-form__button {
  width: 100%;
  padding: 16px 25px;
  color: black;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  box-shadow: 0 4px 7px rgba(157, 157, 157, 0.1);
}
.display-form__button:hover {
  background-color: #99C63C !important;
  box-shadow: 4px 7px 3px rgba(157, 157, 157, 0.4);
}
.display-form__button:active {
  background-color: #99C63C;
}
.display-form__button:focus {
  background-color: #99C63C;
  color: #fff;
  border: #99C63C;
}
.display-form__search-margin {
  margin-left: 15px;
}
.display-form__search-bg {
  background: #fff;
  border-radius: 40px;
}
.display-form__input {
  margin: 16px 24px 16px 39px;
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
}
.display-form__button-search {
  margin: 16px;
  border: none;
  background: transparent;
}

.item-filter {
  font-size: 15px;
  color: #BDBDBE;
}

@media (max-width: 1399px) {
  .container {
    max-width: 1200px;
  }
  .display-form__dropdown .dropdown-toggle::after {
    margin-left: 15px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 576px;
  }
  .accordion {
    --bs-accordion-btn-padding-x: 15px;
    --bs-accordion-btn-padding-y: 10px;
  }
  .display-form__wrapper-media {
    flex-direction: column;
    gap: 10px;
  }
  .display-form__left {
    width: 50%;
  }
  .display-form__search-bg {
    height: 44px;
  }
  .display-form__button {
    padding: 10px;
  }
  .display-form__search-margin {
    margin: 0;
  }
  .display-form__button-search {
    margin: 0 16px;
  }
}
.choice-product__wrapper-bg {
  background-color: #ffffff;
  border-radius: 16px;
}
.choice-product__wrapper-buttons {
  justify-content: space-evenly;
  padding: 16px;
}
.choice-product__wrapper-buttons button {
  border: none;
  background: transparent;
  font-size: 12px;
}
.choice-product__wrapper-buttons .button-result {
  color: #515151;
}
.choice-product__wrapper-buttons .button-clear {
  color: #EB5757;
}
.choice-product__wrapper-buttons .button-clear i {
  margin-right: 5px;
}
.choice-product__media-button {
  display: none;
}
.choice-product .accordion-item {
  border: none;
  border-radius: 16px;
}
.choice-product .accordion-button:not(.collapsed) {
  font-weight: 700;
  font-size: 17px;
  background-color: #fff;
  line-height: 22px;
  box-shadow: none;
}
.choice-product .accordion-collapse {
  position: relative;
}
.choice-product .accordion-body:after {
  position: absolute;
  content: "";
  display: block;
  text-align: center;
  width: 86%;
  height: 1px;
  left: 7%;
  bottom: 0;
  background: #E2E2E2;
}
.choice-product .last-accordion:after {
  display: none;
}
.choice-product .form-check-input {
  width: 22px;
  height: 22px;
}
.choice-product .form-check {
  display: flex;
  align-items: center;
  gap: 12px;
}
.choice-product .form-check-label {
  font-size: 15px;
  line-height: 18px;
}
.choice-product .card-product {
  flex-wrap: wrap;
  justify-content: end;
  border: none;
  column-gap: 52px;
  row-gap: 20px;
}
.choice-product .card {
  max-width: 282px;
  border-radius: 16px;
  border: none;
  overflow: hidden;
  position: relative;
  opacity: 1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}
.choice-product .card:hover {
  transform: scale(1.02);
  transition: 0.5s;
  box-shadow: 0 8px 16px rgba(166, 206, 82, 0.42);
}
.choice-product .card:hover .card-body {
  color: #99C63C;
  transition: 0.5s;
}
.choice-product .card-body {
  text-align: center;
  padding: 20px 0 25px 0;
}
.choice-product .card-img-position {
  position: absolute;
  top: 16px;
  right: 15px;
}
.choice-product .card-img-position-2 {
  position: absolute;
  top: 45px;
  right: 15px;
}
.choice-product .card-img-top:hover {
  transform: translateX(-100%);
  transition: 1s;
}

@media (max-width: 1399px) {
  .container {
    max-width: 1200px;
  }
  .choice-product__media-button {
    display: block;
  }
  .choice-product__media-none {
    display: none;
  }
  .choice-product .card-product {
    transition: 1s;
    justify-content: center;
    gap: 15px;
  }
  .choice-product .card .card-img-position {
    width: 15%;
  }
  .choice-product .card .card-img-position-2 {
    width: 15%;
  }
  .choice-product .card .card-body {
    padding: 10px 0;
  }
}
.footer {
  padding-top: 47px;
  background-color: #26282C;
}
.footer__media {
  padding-bottom: 25px;
}
.footer a {
  color: #BDBDBE;
}
.footer a:hover {
  color: #99C63C;
}
.footer a:active {
  background-color: #99C63C;
  color: #fff;
}
.footer__contacts {
  font-size: 13px;
  color: #BDBDBE;
}
.footer__contacts-color {
  color: #BDBDBE;
}
.footer__img {
  font-size: 18px;
  color: #BDBDBE;
  margin-right: 10px;
}
.footer__navigation-title {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 16px;
}
.footer__navigation-title a {
  color: white;
}
.footer__navigation li a {
  color: #BDBDBE;
}
.footer__wrapper {
  position: relative;
}
.footer__wrapper-forms {
  gap: 10px;
}
.footer__wrapper-forms-title {
  margin-bottom: 13px;
}
.footer__form-email-input {
  padding: 14px 29px 14px 46px;
  background: transparent;
  border-radius: 30px;
  border: 1px solid #515151;
}
.footer__form-email-send {
  position: absolute;
  border: none;
  background: transparent;
  top: 27%;
  right: 15%;
}
.footer .wrapper-dropdown {
  border-radius: 30px;
  border: 1px solid #515151;
  margin-bottom: 28px;
}
.footer .wrapper-dropdown .dropdown {
  padding: 14px 29px 14px 46px;
  text-align: center;
}
.footer .wrapper-dropdown button i, .footer .wrapper-dropdown button span {
  color: white;
}
.footer .wrapper-dropdown button:hover {
  color: #99C63C;
}
.footer .wrapper-dropdown button:active {
  background-color: #99C63C;
  color: #fff;
}
.footer .social-icons {
  margin: 7px;
}
.footer .social-icons ul {
  gap: 10px;
  margin: 0;
}
.footer .social-icons ul a {
  padding: 3px 7px 5px;
  border-radius: 7px;
}
.footer .social-icons:hover {
  transform: scale(1.02);
  transition: 0.5s;
}
.footer .social-icons .social-bg-non {
  background: linear-gradient(167.84deg, #FF2C91 -55.34%, #921654 91.14%);
}
.footer .social-icons .social-bg-twi {
  background: linear-gradient(167.84deg, #00C2FF -55.34%, #18718F 91.14%);
}
.footer .social-icons .social-bg-fac {
  background: linear-gradient(167.84deg, #2C67FF -55.34%, #1D42A5 91.14%);
}
.footer .social-icons .social-bg-ins {
  background: radial-gradient(132.53% 132.61% at 29.26% 107.77%, #FFD879 9.69%, #FCCB76 15.39%, #F5AA6C 25.83%, #E9755E 39.76%, #E45F58 44.9%, #D22A9C 67.86%, #6968DF 100%);
}
.footer .social-icons .social-bg-lin {
  background: linear-gradient(167.84deg, #0094FF -55.34%, #135C92 91.14%);
}
.footer .social-icons .social-bg-you {
  background: linear-gradient(167.84deg, #FF2C2C -55.34%, #B12728 91.14%);
}
.footer .social-icons .social-bg-non:hover, .footer .social-icons .social-bg-twi:hover, .footer .social-icons .social-bg-fac:hover, .footer .social-icons .social-bg-ins:hover, .footer .social-icons .social-bg-lin:hover, .footer .social-icons .social-bg-you:hover {
  transform: scale(1.3);
  box-shadow: 0 8px 16px rgba(166, 206, 82, 0.42);
}
.footer .social-icons .social-bg-non:hover svg, .footer .social-icons .social-bg-non:hover path, .footer .social-icons .social-bg-twi:hover svg, .footer .social-icons .social-bg-twi:hover path, .footer .social-icons .social-bg-fac:hover svg, .footer .social-icons .social-bg-fac:hover path, .footer .social-icons .social-bg-ins:hover svg, .footer .social-icons .social-bg-ins:hover path, .footer .social-icons .social-bg-lin:hover svg, .footer .social-icons .social-bg-lin:hover path, .footer .social-icons .social-bg-you:hover svg, .footer .social-icons .social-bg-you:hover path {
  fill: white;
  fill-opacity: 1;
}
.footer__copyright-bg {
  background: black;
  color: #BDBDBE;
  text-align: center;
}
.footer__copyright-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
.footer .btn-down {
  margin: 10px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #99C63C;
  color: white;
}
.footer .bi-arrow-up {
  color: white;
}
.footer__copyright-bg:hover .bi-heart {
  color: red;
}
.footer__copyright-bg:hover .bi-heart, .footer__copyright-bg:hover .btn-down {
  transform: scale(1.4);
  transition: 1s;
}

@media (max-width: 1399px) {
  .container {
    max-width: 1300px;
  }
  .footer__contacts {
    gap: 10px;
  }
  .footer__media {
    gap: 15px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 992px;
  }
  .footer__navigation {
    column-gap: 15px;
    justify-content: space-between;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 320px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
