@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url("../Lato-Bold.woff2") format("woff2"), url("../Lato-Bold.woff") format("woff"), url("../Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"), url("../Lato-Regular.woff2") format("woff2"), url("../Lato-Regular.woff") format("woff"), url("../Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-size: 2px;
  font-display: swap;
}
:root {
  --bs-link-color: black;
}

.navbar {
  --bs-navbar-brand-margin-end: 45px;
  --bs-navbar-color: black;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
}
a:hover {
  color: #99C63C;
  transition: 0.5s;
}

.header__top {
  background-color: #E5E5E5;
  padding: 5px 0;
  font-size: 15px;
}
.header__contact-ic, .header__lang-ic {
  padding-right: 10px;
}
.header__lang-switcher:hover {
  color: #99C63C;
  transition: 0.5s;
}
.header__lang-switcher .dropdown-item:hover {
  border-radius: 10px;
  box-shadow: 5px 5px 12px -2px #99C63C;
}
.header__lang-switcher .dropdown-item:active {
  background-color: #99C63C;
  color: #fff;
}
.header__navigation {
  background-color: #fff;
  box-shadow: 0 0 12px rgba(72, 79, 78, 0.17);
}
.header__search-wrapper {
  margin-right: 65px;
}
.header__search {
  color: black;
  font-size: 16px;
  padding-right: 65px;
  padding-left: 0;
}
.header__search:hover {
  color: #99C63C;
  transition: 0.5s;
}
.header__navigation .nav-item:not(:first-child):not(:last-child) {
  margin-right: 30px;
}
.header__auth {
  gap: 16px;
}
.header__auth i.bi-cart2 {
  font-size: 16px;
}
.header__auth i.bi-person {
  font-size: calc(16px * 1.09);
}

.modal .form {
  box-shadow: 6px 6px 12px #ffffff, -6px -6px 12px #c5c5c5;
  position: relative;
  width: 90%;
  height: 40px;
  display: flex;
  padding-inline: 0.8em;
  border-radius: 30px;
  transition: border-radius 0.5s ease;
  background: #E5E5E5;
}
.modal .form:before {
  content: "";
  position: absolute;
  background: #99C63C;
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -10px;
  border-radius: 1px;
  transition: transform 0.3s ease;
}
.modal .form:focus-within {
  border-radius: 30px;
}
.modal .form:focus-within:before {
  transform: scale(1);
}
.modal .form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
.modal .form .input-body-search {
  color: #99C63C;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
.modal .form .input-body-search:focus {
  outline: none;
}
.modal .form .input-body-search:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
.modal .form .reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
.modal .form i {
  width: 17px;
  margin-top: 3px;
}

.modal-register__bg .field-username {
  margin-bottom: 10px;
}
.modal-register__bg .field-button {
  gap: 10px;
  font-size: 14px;
  margin-top: 20px;
}
.modal-register__bg .field-button .button-login,
.modal-register__bg .field-button .button-reset {
  padding: 7px 12px;
}
.modal-register__bg .field-button .button-login:hover,
.modal-register__bg .field-button .button-reset:hover {
  color: #fff;
  background-color: #7878bd;
  border-radius: 10px;
}
.modal-register__bg .card {
  width: 75%;
  height: 254px;
  background: #F4F6FB;
  border: 1px solid white;
  box-shadow: 10px 10px 64px 0 rgba(180, 180, 207, 0.75);
  -webkit-box-shadow: 10px 10px 64px 0 rgba(186, 186, 202, 0.75);
  -moz-box-shadow: 10px 10px 64px 0 rgba(208, 208, 231, 0.75);
}
.modal-register__bg .form {
  padding: 25px;
}
.modal-register__bg .card_header {
  gap: 10px;
}
.modal-register__bg .card svg {
  color: #7878bd;
  margin-bottom: 20px;
  margin-right: 5px;
}
.modal-register__bg .form_heading {
  padding-bottom: 20px;
  font-size: 21px;
  color: #7878bd;
}
.modal-register__bg .input {
  border-radius: 5px;
  background-color: #e9e9f7;
  padding: 5px;
  width: 100%;
  color: #7a7ab3;
  border: 1px solid #dadaf7;
}
.modal-register__bg .input:focus-visible {
  outline: 1px solid #aeaed6;
}
.modal-register__bg .input::placeholder {
  color: #bcbcdf;
}
.modal-register__bg label {
  color: #B2BAC8;
  font-size: 14px;
  display: block;
}

/*# sourceMappingURL=style.css.map */
