@media (max-width: 1399px) {
  .container {
    max-width: 1200px;
  }
  .choice-product {
    &__media-button{
      display: block;
    }
    &__media-none{
      display: none;
    }
    .card-product {
      transition: 1s;
      justify-content: center;
      gap: 15px;
    }
    .card{
      .card-img-position{
        width: 15%;
      }
      .card-img-position-2{
        width: 15%;
      }
      .card-body{
        padding: 10px 0;
      }
    }
    .way-pages{
      margin: 20px auto 10px;
      gap: 10px;
      .backward{
        margin-left: 0;
      }
      .forward,.backward{
        padding: 5px;
      }
      .page-navigation{
        padding: 5px 10px;
      }
    }
    .form-select {
      margin: 5px auto;
    }
  }
}