@media (max-width: 1399px) {
  .container {
    max-width: 1200px;
  }
  .choice-product {

    &__media-button{
      display: block;
    }
    &__media-none{
      display: none;
    }
    .card-product {
      transition: 1s;
      justify-content: center;
      gap: 15px;
    }
    .card{
        max-width: 282px;
        max-height: 291px;

      img{
        width: 100%;
      }
      .card-img-position{
        width: 15%;
      }
      .card-img-position-2{
        width: 15%;
      }
      .card-body{
        padding: 10px 0;
      }
    }






  }


}