@media (max-width: 1399px){
  .container{
    max-width: 1200px;
  }
  .display-form__dropdown .dropdown-toggle::after{
    margin-left: 15px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 576px;
  }
  .accordion{
    --bs-accordion-btn-padding-x: 15px;
    --bs-accordion-btn-padding-y: 10px;
  }
  .display-form{
    &__wrapper-media{
      flex-direction: column;
      gap: 10px;
    }
    &__left{
      width: 50%;
    }
    &__search-bg{
      height: 44px;
    }
    &__button{
      padding:10px;
    }
    &__search-margin{
      margin: 0;
    }
    &__button-search{
      margin: 0 16px;
    }

  }


}