.display-form {
  margin-top: 10px;
  margin-bottom: 22px;

  &__left{
    width: 25%;
  }
  &__right{
    width: 75%;
  }
  &__title {
    font-weight: $font-weight-bold;
    font-size: 28px;
    line-height: 30px;
    color: $black-color;
    margin-bottom: 37px;
  }
  &__forms {
    flex-direction: column;
    gap: 10px;
  }
  &__wrapper-media{
    flex-direction: row;
  }
  &__dropdown {
    margin-right:15px;
    .dropdown-toggle::after {
      margin-left: 40%;
    }
    }

  &__button{
    width: 100%;
    padding: 16px 25px;
    color: black;
    background-color: $fff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 4px 7px rgba(157, 157, 157, 0.1);

    &:hover {
      background-color: $accent-color!important;
      box-shadow: 4px 7px 3px rgb(157 157 157 / 40%);

    }
    &:active {
      background-color: $accent-color;
    }
    &:focus {
      background-color: $accent-color;
      color: $fff;
      border: $accent-color;
    }
  }

  &__search {
    &-margin {
      margin-left: 15px;
      //background: white;
    }
    &-bg{
      background: $fff;
      border-radius: 40px;

    }


  }
  &__input {
    margin: 16px 24px 16px 39px;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
  }
  &__button-search {
    margin: 16px;
    border: none;
    background: transparent;
  }
}
.item-filter {
  font-size: $font-size-md;
  color: #BDBDBE;
}

