.way-product{
  padding: 11px 0 37px;

  &__ol-gap{
    gap: 42px;
    margin-bottom: 0;
  }
}
.breadcrumb-item+.breadcrumb-item::before{
  position: absolute;
  padding-right: 10px;
  background-color: #BDBDBE;
  content: '';
  width: 26px;
  height: 1px;
  display: block;
  top: 12px;
  left: -30px;
}