body {
  font-family: $font-family-main;
  font-weight: $font-weight-regular;
  font-size: $font-size-md;
}
a {
  text-decoration: none;
  &:hover{
    color: $accent-color;
    transition: $transition ;
  }
}
.pos-rel{
  position: relative;
}
.accent-active{
  color: $accent-color;
  transition: $transition;
  &:hover{
    color: black;
  }
}

.color-f{
  color: white;
}
.dropdown-item {

  &:hover {
    border-radius: 10px;
    box-shadow: 5px 5px 12px -2px $accent-color;
  }

  &:active {
    background-color: $accent-color;
    color: $fff;
  }
}
.logo-shadow {
  &:hover{
    transform: scale(1.02);
    transition: 0.5s;
    box-shadow: 0 8px 16px rgb(166 206 82 / 42%);
  }
}
.modal-register{
  .modal-header{
    border-bottom: none;
  }
  .modal-content{
    background-color: transparent;
    border: none;
  }

  .btn-close {
    background: red url("/assets/img/x-lg.svg") center/2em auto no-repeat;
  }
}
.d-center{
  display: flex;
  align-items: center;
  justify-content: center;
}