body {
  font-family: $font-family-main;
  font-weight: $font-weight-regular;
  font-size: $font-size-md;
  background-color: $bg-page;

}
//.container{
  //width: 1265px;
  //padding: 0 41px;
  //margin: 0 auto;
//}
a {
  text-decoration: none;
  &:hover{
    color: $accent-color;
    transition: $transition ;
  }
}
.pos-rel{
  position: relative;
}
.accent-active{
  color: $accent-color;
  transition: $transition;
  &:hover{
    color: black;
  }
}

.dropdown-item {

  &:hover {
    border-radius: 10px;
    box-shadow: 5px 5px 12px -2px $accent-color;
  }

  &:active {
    background-color: $accent-color;
    color: $fff;
  }
}
