body {
  font-family: $font-family-main;
  font-weight: $font-weight-regular;
  font-size: $font-size-md;
  background-color: $bg-page;

}

a {
  text-decoration: none;
  &:hover{
    color: $accent-color;
    transition: $transition ;
  }
}
.pos-rel{
  position: relative;
}
.accent-active{
  color: $accent-color;
  transition: $transition;
  &:hover{
    color: black;
  }
}