:root{
  --bs-link-color: black;
}
.navbar{
  --bs-navbar-brand-margin-end: 45px;
}
$font-family-main: 'Lato', sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-md: 15px;
$font-size-sm: 13px;


$bg-page: #E5E5E5;
$accent-color: #99C63C;
$fff: #fff;
$transition: .5s;