$font-family-main: 'Lato', sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-large: 17px;
$font-size-normal: 16px;
$font-size-md: 15px;
$font-size-sm: 13px;
$font-size-x-sm: 12px;

$black-color: #17181A;
$bg-page: #E5E5E5;
$bg-footer: #26282C;
$accent-color: #99C63C;
$footer-text-color: #BDBDBE;
$fff: #fff;
$transition: .5s;

:root{
  --bs-link-color: black;
  --bs-body-bg: #{$bg-page};

}
.navbar{
  --bs-navbar-brand-margin-end: 45px;
  --bs-navbar-color: black;
}
.accordion{
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: white;
}