:root{
  --bs-link-color: black;
}
.navbar{
  --bs-navbar-brand-margin-end: 45px;
  --bs-navbar-color: black;
}
$font-family-main: 'Lato', sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-large: 17px;
$font-size-normal: 16px;
$font-size-md: 15px;
$font-size-sm: 13px;
$font-size-x-sm: 12px;

$black-color: #17181A;
$bg-page: #E5E5E5;
$accent-color: #99C63C;
$fff: #fff;
$transition: .5s;