.header {
  &__top {
    background-color: $bg-page;
    padding: 5px 0;
    font-size: $font-size-md;
  }
  &__contact-ic,
  &__lang-ic {
    padding-right: 10px;
  }
  &__lang-switcher {

    &:hover {
      color: $accent-color;
      transition: $transition;
    }
    .dropdown-item {

      &:hover {
        border-radius: 10px;
        box-shadow: 5px 5px 12px -2px $accent-color;
      }

      &:active {
        background-color: $accent-color;
        color: $fff;
      }
    }
  }


  &__navigation {
    background-color: $fff;
    box-shadow: 0 0 12px rgba(72, 79, 78, 0.17);

  }
  &__search-wrapper {
    margin-right: 65px;
  }
  &__search {
    color: black;
    font-size: $header-size-icon;
    padding-right: 65px;
    padding-left: 0;

    &:hover {
      color: $accent-color;
      transition: $transition;
    }

  }
  &__navigation{
    .nav-item{

      &:not(:first-child):not(:last-child){
        margin-right: 30px;

      }
    }
  }

  &__auth{
    gap: 16px;
    i.bi-cart2{
      font-size: $header-size-icon;
    }
    i.bi-person{
      font-size: calc(#{$header-size-icon} * 1.09);
    }
  }


}
.modal {
  .form {
    box-shadow: 6px 6px 12px #ffffff,
    -6px -6px 12px #c5c5c5;
    position: relative;
    width: 90%;
    height: 40px;
    display: flex;
    //align-items: center;
    padding-inline: 0.8em;
    border-radius: 30px;
    transition: border-radius 0.5s ease;
    background:  $bg-page;

    &:before {
      content: "";
      position: absolute;
      background: $accent-color;
      transform: scaleX(0);
      transform-origin: center;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: -10px;
      border-radius: 1px;
      transition: transform 0.3s ease;
    }
    &:focus-within {
      border-radius: 30px;
    }
    &:focus-within:before {
      transform: scale(1);
    }

    button {
      border: none;
      background: none;
      color: #8b8ba7;
    }

    .input-body-search {
      color: $accent-color;
      font-size: 0.9rem;
      background-color: transparent;
      width: 100%;
      height: 100%;
      padding-inline: 0.5em;
      padding-block: 0.7em;

      border: none;
      &:focus {
        outline: none;
      }
      &:not(:placeholder-shown) ~ .reset {
        opacity: 1;
        visibility: visible;
      }
    }
    .reset {
      border: none;
      background: none;
      opacity: 0;
      visibility: hidden;
    }
      i {
      width: 17px;
      margin-top: 3px;
    }
  }
}
.modal-register{
  &__bg{
    .field-username{
      margin-bottom: 10px;

    }
    .field-button{
      gap: 10px;
      //background-color: #7878bd;
      font-size: 14px;
      //padding: 7px 12px;
      //font-weight: 500;
      //color: white;
      margin-top: 20px;
      .button-login,
      .button-reset{
        padding: 7px 12px;

        &:hover{
          color: $fff;
          background-color: #7878bd;
          border-radius: 10px;
        }
      }
    }
    .card {
      width: 75%;
      height: 254px;
      background: #F4F6FB;
      border: 1px solid white;
      box-shadow: 10px 10px 64px 0 rgba(180, 180, 207, 0.75);
      -webkit-box-shadow: 10px 10px 64px 0 rgba(186, 186, 202, 0.75);
      -moz-box-shadow: 10px 10px 64px 0 rgba(208, 208, 231, 0.75);
    }
    .form {
      padding: 25px;
    }
    .card_header {
      gap: 10px;
    }
    .card svg {
      color: #7878bd;
      margin-bottom: 20px;
      margin-right: 5px;
    }
    .form_heading {
      padding-bottom: 20px;
      font-size: 21px;
      color: #7878bd;
    }
    .input {
      border-radius: 5px;
      background-color: #e9e9f7;
      padding: 5px;
      width: 100%;
      color: #7a7ab3;
      border: 1px solid #dadaf7
    }
    .input:focus-visible {
      outline: 1px solid #aeaed6;
    }
    .input::placeholder {
      color: #bcbcdf;
    }
    label {
      color: #B2BAC8;
      font-size: 14px;
      display: block;
      //margin-top: 10px;

      //padding-bottom: 4px;
    }
  }
}