@media (max-width: 576px) {
  .img-fluid {
    width: 70%;
  }
  .navbar-brand {
    margin-right: -70px;
  }

  .header__contact-ic,
  .header__lang-ic{
    padding-right: 0;
  }
}

@media (max-width: 320px) {
  .img-fluid {
    width: 60%;
  }

  }
